<plugin>
	<extension
            point="com.katalon.platform.extensions">
        <point
                id="thanhto.katalon.katalon_notes.listener.katalonNotesPluginActivationListener"
                extensionPointId="com.katalon.platform.api.extension.pluginActivationListener"
                implementationClass="thanhto.katalon.katalon_notes.listener.KatalonNotesPluginActivationListener">
        </point>
    </extension>
        	<extension
            point="com.katalon.platform.extensions">
        <point
                id="thanhto.katalon.katalon_notes.ui.toolitem.katalonNotesToolItemWithMenuDescription"
                extensionPointId="com.katalon.platform.api.extension.newDropdownToolItem"
                implementationClass="thanhto.katalon.katalon_notes.ui.toolitem.KatalonNotesToolItemWithMenuDescription">
        </point>
    </extension>
</plugin>